html, body, input, textarea, select, button{
    color: #e8e6e3 !important;
    background-color: #131516 !important;
}

body{
    background-color: #131516;
}

div.eventLog, div.chatLog, div.Rooms{
}

/* Admin Tables */
.roomAddForm, .roomEditForm{
    background: #00000091;
    height:100vh;
    position: absolute;
}

table.log-data{
    width:100%
}

table.log-data td{
    border-right-style: solid;
    border-color: black;
    border-right: 2px;
}

.tblContainer {
    height: 33vh;
    overflow: auto;
}    

th {
    position: sticky;
    top: 0;
    background: purple;
}

/* ChatDisplay */
div#roomList {
    display:flex;
    flex-direction: column;
    width: 100%
}    


.roomContainer{
    display: flex;
    width:20%;
    border-right: solid;
    overflow: auto;
    padding: 1rem;
}    


h2{
    font-size:1.7rem;
}

.chatbox {
    display:flex;
    height: 70vh;
    border: solid;
}

.chat{
    margin-left: 1rem;
    width:80%;
}
span.subHeading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
}

label#current-room{
    font-weight: 600;
    font-style: italic;
    font-size: 1.2rem;
}

p#message{
    font-size: 1.2rem;;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: left;
}