table{
    height:33px
}

div.eventLog, div.chatLog, div.Rooms{
    height: 33vh;
    overflow: auto;
}

table.log-data{
    display:flex;
    justify-content: center;
    align-items: center;
}

.roomAddForm, .roomEditForm{
    background: #00000091;
    height:100vh;
    position:fixed
}