html, body, input, textarea, select, button{
    color: #e8e6e3 !important;
    background-color: #131516 !important;
}

body{
    background-color: #131516;
}

/************* Admin login Screen **********/
.admin-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, hsla(212, 58%, 10%, 1) 20%, hsla(267, 61%, 10%, 1) 70%);
}

.admin-container.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 80%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

.admin-form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:60%;
    height:55%;
}

label.lblAdmin {
    font-size: 1.2rem;
    font-weight: 500;
}

input.txtAdmin-form{
    height:20%
}

button#btn-admin-submit{
    margin:1rem
}

/************** Chat Login Page *****************/

.chat-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, hsla(0, 0%, 31%, 1) 4%, hsla(213, 61%, 10%, 1) 56%);
    /* margin: auto; */
}

.login-container.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 60%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    background: hsla(216, 4%, 28%, 1); /* fall back for older browsers */
    background: linear-gradient(315deg, hsla(216, 4%, 28%, 1) 0%, hsla(212, 58%, 10%, 1) 15%, hsla(213, 61%, 10%, 1) 85%, hsla(0, 0%, 31%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(216, 4%, 28%, 1) 0%, hsla(212, 58%, 10%, 1) 15%, hsla(213, 61%, 10%, 1) 85%, hsla(0, 0%, 31%, 1) 100%);    
    background: -webkit-linear-gradient(315deg, hsla(216, 4%, 28%, 1) 0%, hsla(212, 58%, 10%, 1) 15%, hsla(213, 61%, 10%, 1) 85%, hsla(0, 0%, 31%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#444649", endColorstr="#0B1929", GradientType=1 );
}

form.login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10%;
}

button#btnAdmin{
    position: relative;
    top: 0;
}

h1#lblHome{
    position: relative;
    bottom: 5%
}

input#txtUsername{
    width:60%;
}

/***************** Admin Tables ****************/
th {
    position: sticky;
    top: 0;
    background: purple;
    padding: 0.5rem;
}

tr{
    border-style: none !important; /*to counter the reboot.scss*/
    border-bottom: solid !important;
    border-width: 2px !important;
    border-color: #ffffff50 !important;
}


div.eventLog, div.chatLog, div.Rooms{
    margin-top: 1rem;
}

.roomAddForm, .roomEditForm{
    background: #000000d0;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr 1.5fr;
    row-gap: 1rem;
    column-gap: 1rem;
    text-align: right;
    /* height:100vh;
    position: absolute; */
}

.roomEditForm{
    grid-template-areas:
        ". . btnClose"
        ". . ."
        "lblRoom inpRoom . "
        "lblStatus optStatus ."
        "btnUpdate btnUpdate btnUpdate"
        "feedback feedback feedback";
}
.roomAddForm{
    grid-template-areas:
    ". . btnClose"
    "lblAdd lblAdd lblAdd"
    "lblRoom inpRoom ."
    "lblStatus optStatus ."
    "btnAdd btnAdd btnAdd"
    "feedback feedback feedback"
}

table.log-data{
    width:100%
}

table.log-data td{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem
}

.tblContainer {
    height: 33vh;
    overflow: auto;
    width: 95%;
    border-style:solid;
    border-color:purple;
    margin: auto;
}    

button#btnLogout{
    background-color: #7C212A !important;
    font-weight: 500;
}

button#btnAdd {
    top: 25%;
    position: relative;
}

button.btnClose {
    justify-self: right;
    grid-area: btnClose;
}

button#btnUpdate{
    grid-area: btnUpdate;
}

button#btnAdd{
    grid-area: btnAdd;
}

label#lblEdit{
    grid-area: 2/1/2/-1; /* row start: 2, col-start: 1, row-end:2, col-end: -1(last) */
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

label#lblAdd{
    grid-area:lblAdd;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

label#lblRoom{
    grid-area: lblRoom;
}

label#lblStatus{
    grid-area: lblStatus;
}

input#inpRoom{
    grid-area: inpRoom;
}

select#optStatus{
    grid-area: optStatus;
}

p#feedback{
    grid-area: feedback;
    margin: 0.5rem auto;
    font-size: 1.2rem;
    font-weight: 500;
}

/************* ChatDisplay ****************/
div#roomList {
    display:flex;
    flex-direction: column;
    width: 100%
}    


.roomContainer{
    display: flex;
    width:20%;
    border-right: solid;
    overflow: auto;
    padding: 1rem;
}    


h2{
    font-size:1.7rem;
}

.chatbox {
    display:flex;
    height: 70vh;
    border: solid;
}

.chat{
    /* margin-left: 1rem; */
    width:80%;
    overflow-y: auto;
}

span.subHeading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    align-items: center;
}



label#current-room{
    font-weight: 600;
    font-style: italic;
    font-size: 1.2rem;
}

p#numUsers {
    position: sticky;
    top: 0;
    font-size: 1.1rem;
    background-color: #060808;
}

p#message{
    font-size: 1.2rem;;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: left;
    margin-left: 1rem;
}

/* Form (ChatDisplay) */
input.inputTxt.form-control {
    width: 95%;
}

form.userform {
    display: flex;
}

button#btnHome{
    padding:0.7rem;
}

button.btn.btn-secondary {
    font-weight: 600;
    padding: 1rem;
}

button.btn.btn-secondary:hover {
    background-color: #175692 !important;
}